# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
/android/.gradle/
/android/app/build/
/android/build/

# iOS related
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Pods/
/ios/.symlinks/

# Misc
*.log
*.class
*.swp
*.lock
*.bak
*.tmp

# JetBrains related (IntelliJ, Android Studio, etc.)
.idea/
*.iml

# Dart specific
.dart_tool/

# Flutter specific
.flutter/
